.product-container {
    display: flex;
    flex-direction: row;
    align-items: auto;
    gap: 100px;
    margin-bottom: 50px;
  }
  .product-image {
    height: 560px;
    width: 400px;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
  }
 
  .product-image > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 5s;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
  }
  
  h1#productTitle {
    color: rgb(45, 45, 45);
  }
  h3{
    color: rgb(13, 203, 13);
  }
  p#productDesc {
    color: rgb(85, 85, 85);
    font-size: small;
    font-weight: 500;
  }
  
  ul.perks {
    list-style-type: emos;
    /* padding: ; */
  }
  ul.perks li {
    margin: 5px 0px;
    color: rgb(128, 128, 128);
  }

  
  button.purchase {
    border: none;
    outline: none;
    background-color: rgb(38, 173, 78);
    padding: 20px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 20px;
    color: white;
    transition: all 500ms;
  }
  
  button.purchase:hover {
    background-color: rgb(4, 109, 170);
    transform: scale(1.1); /* Adjust the scale factor as needed */
  }
  


 